<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olivestone</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        p {
            color: #424242;
        }
    </style>
</head>

<body style="margin: 0; padding: 0">
    <div style="width: 100vw; height: 600px; background: #eee; overflow: hidden">
        <div style="padding: 0 20px">
            <div style="
            display: table;
            position: relative;
            margin: 150px auto 0;
            padding: 32px 10px 0 20px;
            max-width: 570px;
            width: 100%;
            height: 300px;
            background: #fff;
          ">
                <a href="https://olivestonelab.com">OLIVESTONE</a>
                <h1 style="margin: 20px 0 15px; font-size: 24px; color: #424242">
                    님, 올리브스톤을 방문하여주셨네요!
                    <br />
                    작성중인 의뢰서를 완료해주세요:)
                </h1>
                <p>올리브스톤의 의뢰서를 작성하신 정보가 남아있습니다</p>
                <p>해당 정보는 <strong>7일 동안 보관</strong>되며, 해당 기간 동안 의뢰서를 이어서 작성할 수 있습니다.</p>
                <div style="margin: 30px 0 0; text-align: center">
                    <button type="button" style="
                position: absolute;
                left: 50%;
                bottom: 30px;
                transform: translateX(-50%);
                padding: 0 10px 0 20px;
                line-height: 40px;
                outline: none;
                background: #39c069;
                font-size: 16px;
                font-weight: 700;
                border: none;
                text-align: center;
                color: #ffffff;
                cursor: pointer;
              ">
                        이어서 작성하기<i><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"
                                style="margin-left: 5px; vertical-align: middle">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>